.Notification-container {
  position: fixed;
  width: 320px;
  padding: 0 10px 10px;
  z-index: 1;
  box-sizing: border-box;
  height: auto;
  /* `Top-right` is the default */
  top: 0px;
  bottom: auto;
  left: auto;
  right: 0px;
}

.Bottom-right {
  top: auto;
  bottom: 0px;
  left: auto;
  right: 0px;
}

.Bottom-left {
  top: auto;
  bottom: 0px;
  left: 0px;
  right: auto;
}

.Top-left {
  top: 0px;
  bottom: auto;
  left: 0px;
  right: auto;
}
